<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
   <!-- {% for Meta_Tag in Meta_Tags %}
    {{Meta_Tag}}
    {% endfor %}  -->
    <title>Title</title>

<!-- Latest compiled and minified CSS -->

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://use.fontawesome.com/d093cd7f46.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="margin-top: 0px; "
    >

    <div class="container">
        <span style="color: aliceblue; margin:15px; font-size: 0.8rem; margin-top: 20px;" >
        <!-- 20px -->
        <script>document.write(Date().substring(0, 15));</script>
        </span>
        <div class="social-icon-container"

        >
        <script id="socialIconsContainer" type="text/x-handlebars-template">
            {{#each socialIcons}}
            <a class="navbar-brand" href="{{imageUrl}}">
                <i style='width: 2px; font-size: 0.8rem;' class="{{iconClass}}" aria-hidden="true"></i>
                <!-- 8px -->
            </a>
            {{/each}}
        </script>
        </div>



        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <script id="headerTitlesContainer" type="text/x-handlebars-template">
                {{#each headerTitles}}
                <li class="nav-item">
                <a class="nav-link" href="{{textUrl}}">{{text}}</a>
                </li>
                {{/each}}
            </script>

            </li>

        </ul>
        </div>
    </div>
    </nav>
    <div class="container">
    <div class="row" style="padding: 2%;">
        <div class="col-8 col-md-4" style="margin-left: 0px; padding-left: 35px;" >

        <a href="">
        <img

        class="img-fluid"

            src="https://ctdimg.ams3.digitaloceanspaces.com/custom-log2.png"
            alt="Logo"
        />


        </a>
        </div>
        <div class="col-12 col-md-8" style="padding:0px">
        <!-- md-8 -->
        <a href="http://glogisticsonline.com/"> <img
        class="img-fluid"


            src="https://ctdimg.ams3.digitaloceanspaces.com/custom-banner.jpg"
            alt="Global Clearance and Logistics"
        />
        <!-- https://customstoday.com/wp-content/uploads/2019/03/resize-web-banner.jpg -->
        </a>

        </div>
        <div
        style="
            margin-top: 10px;
            margin-bottom: 5px;
            height: 1px;
            width: 100%;
            border-top: 1px solid gray;
        "
        ></div>
    </div>
    </div>

    <!-- Page Content -->
    <!-- TOTAL 14 - 2  -->
    <div class="container">
        
    <div class="row">
        
        <!-- Post Content Column -->
        <div class="col-lg-12">
            
        <!-- Title -->
        <!-- <h1 class="mt-4" style="font-size: 2rem;">
            Header
        </h1> -->

        <br/>
        


        <!-- <div class="row text-center" style="align-items: center; justify-content: center;"> -->
            
            <div class="card my-4">
                <div class="container">
                <div class="row">
                    <div class="col-sm-4" style="background-color:rgba(0,0,0,.03)">
                        <h5 style="margin-top:10px" id="breaking-header">Breaking news</h5>

                    </div>
                    <div class="col-sm-8">
                        <marquee direction="down" height="40px" width="400px" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">
                            <ul class="ticker-down">
                            <a href="#"><li>Lorem ipsum dolor sit </li></a>
                            <a href="#"><li>Lorem ipsum dolor sit </li></a>
                            <a href="#"><li>Lorem ipsum dolor sit </li></a>
                            <a href="#"><li>Lorem ipsum dolor sit </li></a>
                            
                        </marquee>
                     </div>
                   
                </div>
            </div>
                
            
            </div>
            

            
            <div class="card mb-4" >
                <h5 class="card-header" id="top-header">Top news</h5>

                <!-- ------------------------------------------------------- -->
                <!-- <div class="card-body"> -->
                <div class="container" >
                    <div class="row" >
                        <!-- <div class="col-sm"> -->
                            <!-- #357AE8 -->
                          <div class="col-sm card" style="background-color: #44c7ff; padding-top:20px" >
                              <!-- <div class="card-body"> -->
                                  
                                <img src="https://customstoday.com/wp-content/uploads/2019/11/FBR-1-750x369-1-750x369-272x125.jpg"/>
                                <h5 style="margin-top: 10px" class="text-light">FBR circulates seniority list of PCS officers of 43rd & 44th CTP</h5>
                              <!-- </div> -->
                           
                          </div>
                      
                           
                       
                     
                    
                        
                      <!-- </div> -->
                     
                     
                      <!-- <div class="col-sm"> -->
                    
                        <div class="col-sm card" style="background-color: #44c7ff; padding-top:20px" >
                            <!-- <div class="card-body"> -->
                                
                              <img src="https://customstoday.com/wp-content/uploads/2019/11/FBR-1-750x369-1-750x369-272x125.jpg"/>
                              <h5 style="margin-top: 10px" class="text-light">FBR circulates seniority list of PCS officers of 43rd & 44th CTP</h5>
                            <!-- </div> -->
                         
                        </div>
                    
                      <!-- </div> -->
                      <!-- <div class="col-sm"> -->
                        <div class="col-sm card" style="background-color: #44c7ff; padding-top:20px" >
                            <!-- <div class="card-body"> -->
                                
                              <img src="https://customstoday.com/wp-content/uploads/2019/11/FBR-1-750x369-1-750x369-272x125.jpg"/>
                              <h5 style="margin-top: 10px" class="text-light">FBR circulates seniority list of PCS officers of 43rd & 44th CTP</h5>
                            <!-- </div> -->
                         
                        </div>
                    
                       
                      <!-- </div> -->
                    </div>
                  
                
                
                </div>
                <!-- </div> -->

                <!-- ----------------------------------------------------------- -->
            </div>


            <div class="container" >
                <div class="row">
                    <div class="col-sm">
                        <div class="card my-4" >
                            <h5 class="card-header" id="top-header">Latest News</h5>
                            <div class="card-body" >
                                <li  class='font-weight-bold display-heading'
                                
                                style="margin-bottom: 20px;
                                font-family:Arial, Helvetica, sans-serif">FBR circulates seniority list of PCS officers of 43rd & 44th CTP</li>
                                 <li  class='font-weight-bold display-heading'
                                
                                 style="margin-bottom: 20px;
                                 font-family:Arial, Helvetica, sans-serif">FBR circulates seniority list of PCS officers of 43rd & 44th CTP</li>
                                 <li  class='font-weight-bold display-heading'
                                
                                 style="margin-bottom: 20px;
                                 font-family:Arial, Helvetica, sans-serif">FBR circulates seniority list of PCS officers of 43rd & 44th CTP</li>
                                 <li  class='font-weight-bold display-heading'
                                
                                 style="margin-bottom: 20px;
                                 font-family:Arial, Helvetica, sans-serif">FBR circulates seniority list of PCS officers of 43rd & 44th CTP</li>
                                 <li  class='font-weight-bold display-heading'
                                
                                 style="margin-bottom: 20px;
                                 font-family:Arial, Helvetica, sans-serif">FBR circulates seniority list of PCS officers of 43rd & 44th CTP</li>
                                 

                            </div>
                           
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card my-4" >

                            <h5 class="card-header" id="top-header">Islamabad</h5>
                            <div class="card-body">
                                <img src="https://customstoday.com/wp-content/uploads/2019/11/FBR-1-750x369-1-750x369-272x125.jpg"/>
                                <h5>Header Or Title</h5>
                                <p class="font-weight-light">CT Report August</p>
                                <p>ISLAMABAD: Federal Board of Revenue (FBR) has said that buyer’s CNIC (Computerized National Identity Card) detail is now mandatory on the invoice issued by seller</p>
        
                            </div>
                            <div style="background-color: #dbdee0; padding:20px">
                                <h4>This is Title Of Section</h4>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <img style="max-width: 100%; height: auto;"
                                        class="img-fluid"
                                        src="https://customstoday.com/wp-content/uploads/2018/01/fbr-55x55.jpg"/>
                                        
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <p>FBR proposes rules seeking information about account holders depositing over Rs10m</p>
                                        <p class='font-weight-light'>CT Report August 7, 2020</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <img style="width: 90%; object-fit:contain"
                                        class="img-fluid"
                                        src="https://customstoday.com/wp-content/uploads/2020/08/th-3-200x150.jpg"/>
                                        
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <p>FBR proposes rules seeking information about account holders depositing over Rs10m</p>
                                        <p class='font-weight-light'>CT Report August 7, 2020</p>
                                    </div>
                                </div>
                                
                            </div>
                      
                        </div>
                    </div>
                    
                    <div class="col-sm">
                        <div class="card my-4" >
                            <script
                                async
                                src="https://cse.google.com/cse.js?cx=001909707626927524296:rgofoagmcge"
                            ></script>
                            <div class="gcse-search"></div>
                            
                        </div>
                    </div>
                    

                </div>
            </div>









            




           



        <!-- </div> -->
        <!-- <img
            class="img-fluid"
            title={{imageUrlTitle}}
            src={{Main_Img}}
            alt={{imageUrlAlt}}

        />
        </div>

        <br/>
        <br/> -->
        <!-- Post Content -->
        <!-- <p class="lead">
            {{Reported_By}}
        </p>
          {% for P_Tag_Div in P_Tags_Div %}
          <p>{{P_Tag_Div}}<p>
          {% endfor %}

        {% for P_Tag_Img in P_Tags_Img %}
          <p><img class="img-fluid" src="{{P_Tag_Img}}" alt=""/></p>
        {% endfor %}  -->

      



        <br/>

    </div>


    <div class="container" >
        <div class="row">
            <div class="col-lg-8">
                <div class="container" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card my-4">
                                <h5 class="card-header" id="breaking-header">Karachi</h5>
                                <!-- <div class="row"> -->
                                    
                                    <!-- <div class=col-sm-6>saf</div>
                                    <div class=col-sm-6 style="background-color: #dbdee0;">saf</div> -->
                                <!-- </div> -->
                            
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card my-4">
                                <h5 class="card-header" id="breaking-header">Lahore</h5>
                                <!-- <div class="row"> -->
                                    <!-- <div class=col-sm-6>saf</div>
                                    <div class=col-sm-6 style="background-color: #dbdee0;">saf</div> -->
                                <!-- </div> -->
                                <div class="card-body">
                                    <img src="https://customstoday.com/wp-content/uploads/2019/11/FBR-1-750x369-1-750x369-272x125.jpg"/>
                                    <h5>Header Or Title</h5>
                                    <p class="font-weight-light">CT Report August</p>
                                    <p>Lahore: Federal Board of Revenue (FBR) has said that buyer’s CNIC (Computerized National Identity Card) detail is now mandatory on the invoice issued by seller</p>
            
                                </div>
                                <div style="background-color: #dbdee0; padding:20px">
                                    <h4>This is Title Of Section</h4>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <img style="width:100px" 
                                            class="img-fluid"
                                            src="https://customstoday.com/wp-content/uploads/2018/01/fbr-55x55.jpg"/>
                                            
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <p>FBR proposes rules seeking information about account holders depositing over Rs10m</p>
                                            <p class='font-weight-light'>CT Report August 7, 2020</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <img style="width:100px"  
                                            class="img-fluid"
                                            src="https://customstoday.com/wp-content/uploads/2018/01/fbr-55x55.jpg"/>
                                            
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <p>FBR proposes rules seeking information about account holders depositing over Rs10m</p>
                                            <p class='font-weight-light'>CT Report August 7, 2020</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card my-4">
                                <h5 class="card-header" id="breaking-header">Karachi</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card my-4">
                                <h5 class="card-header" id="breaking-header">Karachi</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

                  <!-- Search Widget -->
        <div class="col-md-4">
            <!-- <script
                async
                src="https://cse.google.com/cse.js?cx=001909707626927524296:rgofoagmcge"
            ></script>
            <div class="gcse-search"></div>
     -->
            <!-- Side Widget -->
            <div class="card my-4" >
                <h5 class="card-header">In Other Stories</h5>
    
                <!-- ------------------------------------------------------- -->
                <div class="the-container"
    
                >
                <script
                id="otherStoriesContainer"
                type="text/x-handlebars-template"
            >
    
                {{#each urls}}
    
                <div class="card-body row"
                style="margin-left: 0px;"
                >
    
                <div class="col-4" style="padding:0px;">
                    <a href="{{url}}">
                    <img
    
                    class="img-fluid"
                    src="{{urlimage}}" />
    
                    </a>
                </div>
    
                    <div class="col-8">
                    <a href="{{url}}">
                    <p style="font-size: 1rem; line-height: 1rem;">{{title}}</p>
                    </a>
                    </div>
                </div>
                {{/each}}
            </script>
                </div>
    
                <!-- ----------------------------------------------------------- -->
            </div>
            </div>
    
        </div>

    </div>

  

        
<!-- 
        <uL style="list-style: none; margin:20px; margin-left:-20px">
            {% for catTexts, catUrls in categoryUrlTxtZipped %}
           
            <a href={{catUrls}}><li class="text-dark">{{catTexts}}</li></a>
           
            {% endfor %}
        </uL> 

        <uL style="list-style: none; margin:20px; margin-left:-20px">
            {% for tagTexts, tagUrls in tagUrlTxtZipped %}
           
            <a href={{tagUrls}}><li class="text-dark">{{tagTexts}}</li></a>
           
            {% endfor %}
        </uL>   -->


            <!-- <uL style="list-style: none; margin:20px; margin-left:-20px">
                <li class="text-dark">Sample 1</li>
            <li class="text-dark">Sample 1</li>
            <li class="text-dark">Sample 1</li>
            </uL>  -->



    </div>
    <!-- /.row -->
    </div>
    
    <!-- Footer -->
    <footer class="py-4 bg-dark">


    <div class="container-fluid">

        <p class="m-0 text-center text-white"
        style="font-size: 0.8rem;"
        >
        Customs Today (C) Copyright 2020, All Rights Reserved
        </p>
    </div>
    </footer>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <script src="https://ctdscr.ams3.digitaloceanspaces.com/tag_script.js"></script>
    <!-- ../../scripts/script.js -->
    <!-- https://ctdscr.ams3.digitaloceanspaces.com/script.js-->
</body>
</html>